.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}


.enroll {
	background-image: url("images/addstudent.jpeg");
	 background-size: cover; 
	background-repeat: no-repeat;
	border: solid 2px red;
    height: 200px
}

.heading {
	font-family: cursive;
	text-align: center;
	margin-bottom: 20px;
}
form {
	width: 400px
}

.view {
	background-image: url("images/viewstudent.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
}
